@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {

    font-family: Montserrat, serif;
    background: linear-gradient(0deg, #2a2929 0%, #878282 100%);
}
p{
    color: aqua;
}

.nav-link {
    color: lightskyblue;

}
.nav-text {
font-size: 1.1em;
}
.navbar-nav .nav-link.active {
    color: aqua;
}

.navbar-brand>img {
    width: 4em;
}

.navbar-toggler {
    background-color: rgb(124, 119, 119);
}

.sidebar {
    color: aqua;
    background: linear-gradient(270deg, #545252 0%, #686767 100%);

}
.card{
    color: aqua;
   
    background: linear-gradient(270deg, #545252 0%, #686767 100%);
}
.card a {
    text-decoration: none;
    color: aqua;
}
.sidebar a {
text-decoration: none;
color: aquamarine;
}
.slide-text, .footer-text  {
    color: aquamarine;
    margin:auto auto;
}
footer, .btn-outline-light{

    background: linear-gradient(270deg, #545252 0%, #686767 100%);
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-animation{
    animation:myAnim 2s ease 0s infinite normal forwards;
}    
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}